body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #222;
}

header {
  background-color: #0b1c2d;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  color: #0b1c2d;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  max-width: 900px;
  margin: 30px auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
